:root {
  --typography-10-regular-font-size: 10px;
  --typography-10-regular-font-weight: 400px;
  --typography-10-regular-line-height: 15px;
  --typography-10-medium-font-size: 10px;
  --typography-10-medium-font-weight: 500px;
  --typography-10-medium-line-height: 15px;
  --typography-10-semibold-font-size: 10px;
  --typography-10-semibold-font-weight: 600px;
  --typography-10-semibold-line-height: 15px;
  --typography-10-bold-font-size: 10px;
  --typography-10-bold-font-weight: 700px;
  --typography-10-bold-line-height: 15px;
  --typography-12-regular-font-size: 12px;
  --typography-12-regular-font-weight: 400px;
  --typography-12-regular-line-height: 18px;
  --typography-12-medium-font-size: 12px;
  --typography-12-medium-font-weight: 500px;
  --typography-12-medium-line-height: 18px;
  --typography-12-semibold-font-size: 12px;
  --typography-12-semibold-font-weight: 600px;
  --typography-12-semibold-line-height: 18px;
  --typography-12-bold-font-size: 12px;
  --typography-12-bold-font-weight: 700px;
  --typography-12-bold-line-height: 18px;
  --typography-13-regular-font-size: 13px;
  --typography-13-regular-font-weight: 400px;
  --typography-13-regular-line-height: 20px;
  --typography-13-medium-font-size: 13px;
  --typography-13-medium-font-weight: 500px;
  --typography-13-medium-line-height: 20px;
  --typography-13-semibold-font-size: 13px;
  --typography-13-semibold-font-weight: 600px;
  --typography-13-semibold-line-height: 20px;
  --typography-13-bold-font-size: 13px;
  --typography-13-bold-font-weight: 700px;
  --typography-13-bold-line-height: 20px;
  --typography-14-regular-font-size: 14px;
  --typography-14-regular-font-weight: 400px;
  --typography-14-regular-line-height: 21px;
  --typography-14-medium-font-size: 14px;
  --typography-14-medium-font-weight: 500px;
  --typography-14-medium-line-height: 21px;
  --typography-14-semibold-font-size: 14px;
  --typography-14-semibold-font-weight: 600px;
  --typography-14-semibold-line-height: 21px;
  --typography-14-bold-font-size: 14px;
  --typography-14-bold-font-weight: 700px;
  --typography-14-bold-line-height: 21px;
  --typography-15-regular-font-size: 15px;
  --typography-15-regular-font-weight: 400px;
  --typography-15-regular-line-height: 22px;
  --typography-15-medium-font-size: 15px;
  --typography-15-medium-font-weight: 500px;
  --typography-15-medium-line-height: 22px;
  --typography-15-semibold-font-size: 15px;
  --typography-15-semibold-font-weight: 600px;
  --typography-15-semibold-line-height: 22px;
  --typography-15-bold-font-size: 15px;
  --typography-15-bold-font-weight: 700px;
  --typography-15-bold-line-height: 22px;
  --typography-16-regular-font-size: 16px;
  --typography-16-regular-font-weight: 400px;
  --typography-16-regular-line-height: 23px;
  --typography-16-medium-font-size: 16px;
  --typography-16-medium-font-weight: 500px;
  --typography-16-medium-line-height: 23px;
  --typography-16-semibold-font-size: 16px;
  --typography-16-semibold-font-weight: 600px;
  --typography-16-semibold-line-height: 23px;
  --typography-16-bold-font-size: 16px;
  --typography-16-bold-font-weight: 700px;
  --typography-16-bold-line-height: 23px;
  --typography-18-regular-font-size: 18px;
  --typography-18-regular-font-weight: 400px;
  --typography-18-regular-line-height: 26px;
  --typography-18-medium-font-size: 18px;
  --typography-18-medium-font-weight: 500px;
  --typography-18-medium-line-height: 26px;
  --typography-18-semibold-font-size: 18px;
  --typography-18-semibold-font-weight: 600px;
  --typography-18-semibold-line-height: 26px;
  --typography-18-bold-font-size: 18px;
  --typography-18-bold-font-weight: 700px;
  --typography-18-bold-line-height: 26px;
  --typography-20-regular-font-size: 20px;
  --typography-20-regular-font-weight: 400px;
  --typography-20-regular-line-height: 28px;
  --typography-20-medium-font-size: 20px;
  --typography-20-medium-font-weight: 500px;
  --typography-20-medium-line-height: 28px;
  --typography-20-semibold-font-size: 20px;
  --typography-20-semibold-font-weight: 600px;
  --typography-20-semibold-line-height: 28px;
  --typography-20-bold-font-size: 20px;
  --typography-20-bold-font-weight: 700px;
  --typography-20-bold-line-height: 28px;
  --typography-22-regular-font-size: 22px;
  --typography-22-regular-font-weight: 400px;
  --typography-22-regular-line-height: 31px;
  --typography-22-medium-font-size: 22px;
  --typography-22-medium-font-weight: 500px;
  --typography-22-medium-line-height: 31px;
  --typography-22-semibold-font-size: 22px;
  --typography-22-semibold-font-weight: 600px;
  --typography-22-semibold-line-height: 31px;
  --typography-22-bold-font-size: 22px;
  --typography-22-bold-font-weight: 700px;
  --typography-22-bold-line-height: 31px;
  --typography-24-regular-font-size: 24px;
  --typography-24-regular-font-weight: 400px;
  --typography-24-regular-line-height: 34px;
  --typography-24-medium-font-size: 24px;
  --typography-24-medium-font-weight: 500px;
  --typography-24-medium-line-height: 34px;
  --typography-24-semibold-font-size: 24px;
  --typography-24-semibold-font-weight: 600px;
  --typography-24-semibold-line-height: 34px;
  --typography-24-bold-font-size: 24px;
  --typography-24-bold-font-weight: 700px;
  --typography-24-bold-line-height: 34px;
  --typography-28-regular-font-size: 28px;
  --typography-28-regular-font-weight: 400px;
  --typography-28-regular-line-height: 39px;
  --typography-28-medium-font-size: 28px;
  --typography-28-medium-font-weight: 500px;
  --typography-28-medium-line-height: 39px;
  --typography-28-semibold-font-size: 28px;
  --typography-28-semibold-font-weight: 600px;
  --typography-28-semibold-line-height: 39px;
  --typography-28-bold-font-size: 28px;
  --typography-28-bold-font-weight: 700px;
  --typography-28-bold-line-height: 39px;
  --typography-32-regular-font-size: 32px;
  --typography-32-regular-font-weight: 400px;
  --typography-32-regular-line-height: 45px;
  --typography-32-medium-font-size: 32px;
  --typography-32-medium-font-weight: 500px;
  --typography-32-medium-line-height: 45px;
  --typography-32-semibold-font-size: 32px;
  --typography-32-semibold-font-weight: 600px;
  --typography-32-semibold-line-height: 45px;
  --typography-32-bold-font-size: 32px;
  --typography-32-bold-font-weight: 700px;
  --typography-32-bold-line-height: 45px;
  --color-white: rgba(255, 255, 255, 1);
  --color-white_a0: rgba(255, 255, 255, 0);
  --color-black: rgba(0, 0, 0, 1);
  --color-primitive-primary-50: rgba(236, 237, 245, 1);
  --color-primitive-primary-100: rgba(210, 212, 235, 1);
  --color-primitive-primary-200: rgba(165, 168, 215, 1);
  --color-primitive-primary-300: rgba(120, 125, 195, 1);
  --color-primitive-primary-400: rgba(75, 81, 175, 1);
  --color-black_a0: rgba(0, 0, 0, 0);
  --color-primitive-primary-500: rgba(43, 45, 85, 1);
  --color-primitive-primary-500_a0: rgba(43, 45, 85, 0);
  --color-primitive-primary-600: rgba(35, 36, 72, 1);
  --color-primitive-primary-700: rgba(28, 28, 59, 1);
  --color-primitive-primary-800: rgba(20, 21, 46, 1);
  --color-primitive-primary-900: rgba(13, 13, 33, 1);
  --color-primitive-gray-50: rgba(248, 249, 252, 1);
  --color-primitive-alpha-white-50: rgba(255, 255, 255, 0.05098039284348488);
  --color-primitive-alpha-white-100: rgba(255, 255, 255, 0.10196078568696976);
  --color-primitive-alpha-white-200: rgba(255, 255, 255, 0.20000000298023224);
  --color-primitive-alpha-white-300: rgba(255, 255, 255, 0.3019607961177826);
  --color-primitive-alpha-white-400: rgba(255, 255, 255, 0.4000000059604645);
  --color-primitive-alpha-white-500: rgba(255, 255, 255, 0.501960813999176);
  --color-primitive-alpha-white-600: rgba(255, 255, 255, 0.6000000238418579);
  --color-primitive-alpha-white-700: rgba(255, 255, 255, 0.6980392336845398);
  --color-primitive-alpha-white-800: rgba(255, 255, 255, 0.800000011920929);
  --color-primitive-alpha-white-900: rgba(255, 255, 255, 0.8980392217636108);
  --color-primitive-alpha-black-50: rgba(16, 21, 34, 0.05098039284348488);
  --color-primitive-alpha-black-100: rgba(16, 21, 34, 0.10196078568696976);
  --color-primitive-alpha-black-200: rgba(16, 21, 34, 0.20000000298023224);
  --color-primitive-alpha-black-300: rgba(16, 21, 34, 0.3019607961177826);
  --color-primitive-alpha-black-400: rgba(16, 21, 34, 0.4000000059604645);
  --color-primitive-alpha-black-500: rgba(16, 21, 34, 0.501960813999176);
  --color-primitive-alpha-black-600: rgba(16, 21, 34, 0.6000000238418579);
  --color-primitive-alpha-black-700: rgba(16, 21, 34, 0.6980392336845398);
  --color-primitive-alpha-black-800: rgba(16, 21, 34, 0.800000011920929);
  --color-primitive-alpha-black-900: rgba(16, 21, 34, 0.8980392217636108);
  --color-primitive-gray-100: rgba(240, 240, 246, 1);
  --color-primitive-gray-200: rgba(228, 228, 238, 1);
  --color-primitive-gray-300: rgba(204, 204, 216, 1);
  --color-primitive-gray-400: rgba(165, 165, 180, 1);
  --color-primitive-gray-500: rgba(116, 116, 138, 1);
  --color-primitive-gray-600: rgba(86, 86, 107, 1);
  --color-primitive-gray-700: rgba(61, 61, 82, 1);
  --color-primitive-gray-800: rgba(40, 40, 58, 1);
  --color-primitive-gray-900: rgba(26, 26, 40, 1);
  --color-primitive-gray-950: rgba(15, 15, 26, 1);
  --color-primitive-red-50: rgba(255, 240, 240, 1);
  --color-primitive-red-100: rgba(255, 217, 218, 1);
  --color-primitive-red-200: rgba(252, 187, 188, 1);
  --color-primitive-red-300: rgba(247, 146, 149, 1);
  --color-primitive-red-400: rgba(238, 102, 104, 1);
  --color-primitive-red-500: rgba(232, 78, 82, 1);
  --color-primitive-red-600: rgba(225, 58, 63, 1);
  --color-primitive-red-700: rgba(196, 47, 52, 1);
  --color-primitive-red-800: rgba(158, 37, 42, 1);
  --color-primitive-red-900: rgba(122, 29, 33, 1);
  --color-primitive-orange-50: rgba(255, 248, 240, 1);
  --color-primitive-orange-100: rgba(255, 235, 208, 1);
  --color-primitive-orange-200: rgba(255, 208, 152, 1);
  --color-primitive-orange-300: rgba(255, 176, 96, 1);
  --color-primitive-orange-400: rgba(255, 143, 48, 1);
  --color-primitive-orange-500: rgba(232, 112, 16, 1);
  --color-primitive-orange-600: rgba(192, 90, 8, 1);
  --color-primitive-orange-700: rgba(146, 68, 8, 1);
  --color-primitive-orange-800: rgba(94, 44, 4, 1);
  --color-primitive-orange-900: rgba(54, 24, 2, 1);
  --color-primitive-yellow-50: rgba(254, 252, 232, 1);
  --color-primitive-yellow-100: rgba(254, 249, 195, 1);
  --color-primitive-yellow-200: rgba(254, 240, 138, 1);
  --color-primitive-yellow-300: rgba(253, 224, 71, 1);
  --color-primitive-yellow-400: rgba(250, 204, 21, 1);
  --color-primitive-yellow-500: rgba(234, 179, 8, 1);
  --color-primitive-yellow-600: rgba(202, 138, 4, 1);
  --color-primitive-yellow-700: rgba(161, 98, 7, 1);
  --color-primitive-yellow-800: rgba(133, 77, 14, 1);
  --color-primitive-yellow-900: rgba(113, 63, 18, 1);
  --color-primitive-green-50: rgba(240, 253, 244, 1);
  --color-primitive-green-100: rgba(220, 252, 231, 1);
  --color-primitive-green-200: rgba(187, 247, 208, 1);
  --color-primitive-green-300: rgba(134, 239, 172, 1);
  --color-primitive-green-400: rgba(74, 222, 128, 1);
  --color-primitive-green-500: rgba(34, 197, 94, 1);
  --color-primitive-green-600: rgba(22, 163, 74, 1);
  --color-primitive-green-700: rgba(21, 128, 61, 1);
  --color-primitive-green-800: rgba(22, 101, 52, 1);
  --color-primitive-green-900: rgba(20, 83, 45, 1);
  --color-primitive-blue-50: rgba(239, 246, 255, 1);
  --color-primitive-blue-100: rgba(219, 234, 254, 1);
  --color-primitive-blue-200: rgba(191, 219, 254, 1);
  --color-primitive-blue-300: rgba(147, 197, 253, 1);
  --color-primitive-blue-400: rgba(96, 165, 250, 1);
  --color-primitive-blue-500: rgba(59, 130, 246, 1);
  --color-primitive-blue-600: rgba(37, 99, 235, 1);
  --color-primitive-blue-700: rgba(29, 78, 216, 1);
  --color-primitive-blue-800: rgba(30, 64, 175, 1);
  --color-primitive-blue-900: rgba(30, 58, 138, 1);
  --color-primitive-purple-50: rgba(250, 245, 255, 1);
  --color-primitive-secondary-50: rgba(250, 246, 238, 1);
  --color-primitive-secondary-100: rgba(243, 234, 218, 1);
  --color-primitive-secondary-200: rgba(231, 212, 181, 1);
  --color-primitive-secondary-300: rgba(218, 190, 144, 1);
  --color-primitive-secondary-400: rgba(194, 166, 109, 1);
  --color-primitive-secondary-500: rgba(171, 143, 89, 1);
  --color-primitive-secondary-500_a0: rgba(171, 143, 89, 0);
  --color-primitive-secondary-600: rgba(142, 118, 74, 1);
  --color-primitive-secondary-700: rgba(113, 93, 59, 1);
  --color-primitive-secondary-800: rgba(84, 68, 43, 1);
  --color-primitive-secondary-900: rgba(55, 43, 28, 1);
  --color-primitive-purple-100: rgba(243, 232, 255, 1);
  --color-primitive-purple-200: rgba(233, 213, 255, 1);
  --color-primitive-purple-300: rgba(216, 180, 254, 1);
  --color-primitive-purple-400: rgba(192, 132, 252, 1);
  --color-primitive-purple-500: rgba(168, 85, 247, 1);
  --color-primitive-purple-600: rgba(147, 51, 234, 1);
  --color-primitive-purple-700: rgba(126, 34, 206, 1);
  --color-primitive-purple-800: rgba(107, 33, 168, 1);
  --color-primitive-purple-900: rgba(88, 28, 135, 1);
  --color-semantic-surface-primary: var(--color-white);
  --color-semantic-surface-primary_a0: rgba(255, 255, 255, 0);
  --color-semantic-surface-secondary: var(--color-primitive-gray-50);
  --color-semantic-surface-secondary_a0: rgba(248, 249, 252, 0);
  --color-semantic-surface-elevated: var(--color-primitive-gray-200);
  --color-semantic-text-primary: var(--color-primitive-gray-800);
  --color-semantic-text-secondary: var(--color-primitive-gray-600);
  --color-semantic-text-tertiary: var(--color-primitive-gray-500);
  --color-semantic-text-disabled: var(--color-primitive-gray-400);
  --color-semantic-text-inverse: var(--color-primitive-gray-900);
  --color-semantic-overlay-overlay: var(--color-primitive-alpha-black-800);
  --color-semantic-overlay-scrim: rgba(0, 0, 0, 0.6499999761581421);
  --color-semantic-icon-primary: var(--color-primitive-gray-900);
  --color-semantic-icon-secondary: var(--color-primitive-gray-700);
  --color-semantic-icon-disabled: var(--color-primitive-gray-400);
  --color-semantic-status-error-bg: var(--color-primitive-red-50);
  --color-semantic-status-error-text: var(--color-primitive-red-800);
  --color-semantic-status-error-border: var(--color-primitive-red-600);
  --color-semantic-status-error-icon: var(--color-primitive-red-700);
  --color-semantic-status-success-bg: var(--color-primitive-green-50);
  --color-semantic-status-success-text: var(--color-primitive-green-800);
  --color-semantic-status-success-border: var(--color-primitive-green-600);
  --color-semantic-status-success-icon: var(--color-primitive-green-700);
  --color-semantic-status-warning-bg: var(--color-primitive-yellow-100);
  --color-semantic-status-warning-text: var(--color-primitive-gray-800);
  --color-semantic-status-warning-border: var(--color-primitive-yellow-600);
  --color-semantic-status-warning-icon: var(--color-primitive-yellow-700);
  --color-semantic-border-default: var(--color-primitive-gray-200);
  --color-semantic-badge-primary-solid-bg: var(--color-primitive-primary-500);
  --color-semantic-focus-ring-primary: rgba(75, 81, 175, 0.2199999988079071);
  --color-semantic-focus-ring-error: rgba(238, 102, 104, 0.2199999988079071);
  --color-semantic-badge-primary-solid-text: var(--color-primitive-primary-50);
  --color-semantic-badge-primary-soft-bg: rgba(43, 45, 85, 0.10000000149011612);
  --color-semantic-badge-primary-soft-text: var(--color-primitive-primary-700);
  --color-semantic-badge-gray-solid-bg: var(--color-primitive-gray-700);
  --color-semantic-badge-gray-solid-text: var(--color-primitive-gray-50);
  --color-semantic-badge-gray-soft-bg: var(--color-primitive-alpha-black-50);
  --color-semantic-badge-gray-soft-text: var(--color-primitive-gray-700);
  --color-semantic-badge-green-solid-bg: var(--color-primitive-green-700);
  --color-semantic-badge-green-solid-text: var(--color-primitive-green-50);
  --color-semantic-badge-green-soft-bg: rgba(34, 197, 94, 0.10000000149011612);
  --color-semantic-badge-green-soft-text: var(--color-primitive-green-700);
  --color-semantic-badge-yellow-solid-bg: var(--color-primitive-yellow-500);
  --color-semantic-badge-yellow-solid-text: var(--color-primitive-gray-900);
  --color-semantic-badge-yellow-soft-bg: rgba(234, 179, 8, 0.11999999731779099);
  --color-semantic-badge-yellow-soft-text: var(--color-primitive-yellow-700);
  --color-semantic-badge-red-solid-bg: var(--color-primitive-red-700);
  --color-semantic-badge-red-solid-text: var(--color-primitive-red-50);
  --color-semantic-badge-red-soft-bg: rgba(232, 78, 82, 0.10000000149011612);
  --color-semantic-badge-red-soft-text: var(--color-primitive-red-700);
  --color-semantic-border-strong: var(--color-primitive-gray-300);
  --color-semantic-border-focus: var(--color-primitive-primary-500);
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --radius-none: 0px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 9999px;
  --color-semantic-surface-overlay: var(--color-primitive-gray-900);
}
